@charset "UTF-8";

/* フッター */
@media screen and (min-width: 768px) {
    .footer {
        padding-top: 21.6rem;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: calc(185 *(100vw / 750));
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////
                                    ▼ 下記よりCSSの追加をお願いします ▼                              
/////////////////////////////////////////////////////////////////////////////////////////////////// */

// ブレイクポイント
$breakpoint-sp: 767px;

@mixin mq($breakpoint) {
    @if $breakpoint == sp {
        @media screen and (max-width: $breakpoint-sp) {
            @content;
        }
    }
}

// フォント
$font-family-main: "neue-haas-grotesk-display", sans-serif;

// スマホ時サイズ管理
// @function spSize($size) {
//     @return calc(#{$size} * (100vw / 750));
// }
@function spSize($size) {
    @return unquote("calc(#{$size} * (100vw / 750))");
}

///// main /////
#MO25313NEW {
    // reset css
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    dl,
    li,
    dt,
    dd,
    p,
    div,
    span,
    img,
    a,
    table,
    tr,
    th,
    td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    }

    header,
    footer,
    nav,
    section,
    article,
    main,
    aside,
    figure,
    figcaption {
    display: block;
    }

    ol,
    ul {
    list-style: none;
    }

    img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    }

    a {
    color: inherit;
    text-decoration: none;
    }

    button {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    font: inherit;
    }

    input,
    select,
    textarea {
    font: inherit;
    color: inherit;
    vertical-align: top;
    }
    ///// ここまで reset css /////

    margin: 0 auto;
    padding: 0 0 0 0;
    color: #000000;
    font-weight: 400;
    font-family: $font-family-main;
    letter-spacing: 0.03em;
    overflow-x: clip;
    width: 100%;

    @include mq(sp) {
        padding: 0 0 0 0;
    }

    .sp_only {
        display: none;
        @include mq(sp) {
            display: block;
        }
    }
    .pc_only {
        @include mq(sp) {
            display: none;
        }
    }

    // アニメーション用
    .js-fadeIn {
        opacity: 0 ;
        visibility: hidden;
        transition: opacity 2s, visibility 2s;
    }
    .js-fadeIn.visible {
        opacity: 1;
        visibility: visible;
    }
    .js-fadeInLeft {
        opacity: 0 ;
        visibility: hidden;
        transform: translateX(80px);
        transition: opacity 1s, visibility 1s, transform 1s;
    }
    .js-fadeInRight {
        opacity: 0 ;
        visibility: hidden;
        transform: translateX(-80px);
        transition: opacity 1s, visibility 1s, transform 1s;
    }
    .js-fadeInLeft.visible,
    .js-fadeInRight.visible {
        opacity: 1 ;
        visibility: visible;
        transform: translateX(0);
    }
    .js-titleFadeIn {
        transform: translateY(3rem);
        opacity: 0;
        transition: opacity 1s ease, transform 1s ease;
    }
    .js-titleFadeIn.visible {
        transform: translateY(0);
        opacity: 1;
    }

    // FV
    .fv {
        margin-inline: auto;
        width: 100%;
        max-width: 128rem;

        a {
          position: relative;
          display: block;
          width: 100%;
        }

        @include mq(sp) {
            max-width: 100%;
        }
    }

    .fv__video {
        width: 100%;
    }

    .sound-icon {
      position: absolute;
      bottom: 2.1rem;
      right: 2.0rem;
      width: 4.0rem;
      height: 4.0rem;

      @include mq(sp) {
        bottom: spSize(18);
        right: spSize(20);
        width: spSize(60);
        height: spSize(60);
        height:calc(60 * 100vw / 750)
      }
    }

    // Title
    .title {
        margin-top: 8.6rem;
        text-align: center;
        img {
            width: 100%;
            max-width: 41.5rem;
        }

        @include mq(sp) {
            margin-top: spSize(103);

            img {
                max-width: spSize(615);
            }
        }
    }

// -----------------------------------------------------------------
// せりあがり実装
// -----------------------------------------------------------------
    .product__block--01 {
        position: sticky;
        top: calc(100vh - 244.2rem);

        @include mq(sp) {
            top: calc(100vh - spSize(4258));
        }
    }

    .product__block--02 {
        background-color: #fff;
        position: sticky;
        top: calc(100vh - 567rem);
        height: 567rem;
        @include mq(sp) {
            top: calc(100vh - spSize(9098) );
            padding-bottom: spSize(0);
            height: spSize(9098);
        }
    }

    .product__block--03 {
        position: relative;
        background-color: #fff;
        position: sticky;
        top: calc(100vh - 458.8rem);
        padding-bottom: 13.5rem;
        
        @include mq(sp) {
            top: calc(100vh - spSize(7539));
            padding-bottom: spSize(138);
        }
    }
    
    .product__block-wrap--03 {
        position: sticky;
        top: 0;

        margin-top: 13.4rem;
        min-height: 232.2rem;
        @include mq(sp) {
            margin-top: spSize(138);
            min-height: auto;
            padding-bottom: spSize(3742);
            top: spSize(67);
        }
    }
    .product__block--04 {
        position: relative;
        background-color: #fff;
        margin-top: -0.2rem;
    }

// -----------------------------------------------------------------
// Product 共通スタイル
// -----------------------------------------------------------------
    .product__item{
        width: 100%;
        max-width: 140rem;
        margin-inline: auto;
    }
    // product__image
    .product__image {
        & > a {
            display: block;
            width: fit-content;
            margin-inline: auto;
        }

        a {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
                transition: 0.3s

            }
            @include mq(sp) {
                &:hover {
                    opacity: 1;
                    transition: none;
                }
            }
        }

        img {
            height: auto;
        }

        .movie {
            a {
                position: relative;
                transition: 0.3s;
            }
        }
    }

    // product__credit
    .product__credit {
        font-size: 1.3rem;
        line-height: 2;

        @include mq(sp) {
            font-size: spSize(23);
            letter-spacing: 0.016em;
        }
    }

// -----------------------------------------------------------------
// Product 個別スタイル
// -----------------------------------------------------------------
    // product__image-wrap--01
    .product__image-wrap--01 {
        position: relative;
        margin-top: 15.3rem;
        height: 163.4rem;

        @include mq(sp) {
            margin-top: spSize(142);
            height: auto;
        }
    }

    .product__image--01_1 {
        position: absolute;
        top: 0;
        right: 23.5rem;

        img {
            width: 100%;
            max-width: 36rem;
        }

        @include mq(sp) {
            position: static;

            img {
                width: 100%;
                max-width: spSize(660);
            }
        }
    }

    .product__image--01_2 {
        position: absolute;
        top: 22.5rem;
        left: 22.5rem;

        img {
            width: 100%;
            max-width: 54rem;
        }

        @include mq(sp) {
            position: static;
            margin-top: spSize(45);

            img {
                max-width: 100%;
            }
        }
    }

    .product__image--01_3 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 108.8rem;

        .movie {
            width: 100%;

            video {
                width: 100%;
                height: auto;
            }
        }

        @include mq(sp) {
            position: static;
            margin-top: spSize(80);
            transform: none;

            .movie {
                margin-inline: auto;
                width: spSize(630);

                video {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .product__credit--01 {
        position: absolute;
        top: 75.1rem;
        right: 47.6rem;

        @include mq(sp) {
            position: static;
            margin-top: spSize(39);
            text-align: center;

            a {
                margin-right: spSize(14);

                &:nth-of-type(3),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--02
    .product__image-wrap--02 {
        position: relative;
        margin-top: 13.8rem;
        text-align: center;

        // せりあがり仕様のため、分割
        &.--part2 {
            margin-top: 0;
        }

        @include mq(sp) {
            margin-top: spSize(138);
        }
    }

    .product__image--02_1 {
        padding-bottom: 4.5rem;

        img {
            width: 100%;
            max-width: 50rem;
        }

        @include mq(sp) {
            img {
                max-width: 100%;
            }
        }
    }

    .product__image--02_2 {

        img {
            width: 100%;
            max-width: 40rem;
        }

        @include mq(sp) {
            img {
                max-width: spSize(680);
            }
        }
    }

    .product__credit--02 {
        margin-top: 2.8rem;

        a {
            margin-right: 0.6rem;

            &:nth-child(3),
            &:nth-child(7) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(39);

            a {
                margin-right: spSize(14);

                &:nth-child(3),
                &:nth-child(7) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--03
    .product__image-wrap--03 {
        position: relative;
        height: 100%;
    }

    .product__image--03_2 {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 28.5rem;
        width: 100%;
        max-width: 48rem;

        img {
            width: 100%;
        }

        @include mq(sp) {
            right: 0;
            max-width: spSize(610);

            // img {
            //     max-width: spSize(610);
            // }
        }
    }

    .product__image--03_1 {
        position: absolute;
        z-index: 1;
        top: 13.5rem;
        left: 23.5rem;
        width: 100%;
        max-width: 48rem;

        img {
            width: 100%;
            // max-width: 48rem;
        }

        @include mq(sp) {
            top: spSize(325);
            left: 0;
            max-width: spSize(560);

            // img {
            //     max-width: spSize(560);
            // }
        }
    }

    .product__image--03_3 {
        position: absolute;
        z-index: 2;
        // bottom: 0;
        right: 35.5rem;
        width: 100%;
        max-width: 36rem;
        top: 37.5rem;

        img {
            width: 100%;
            // max-width: 36rem;
        }

        @include mq(sp) {
            // bottom: 0;
            right: spSize(55);
            max-width: spSize(440);
            top: spSize(970);

            // img {
            //     max-width: spSize(440);
            // }
        }
    }

    .product__credit--03 {
        position: absolute;
        bottom: -0.6rem;
        right: 0;
        transform: translateX(calc(100% + 3.5rem));

        @include mq(sp) {
            position: static;
            margin-top: spSize(40);
            transform: none;

            a {
                margin-right: spSize(14);

                &:nth-of-type(2),
                &:nth-of-type(4),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

    .product__block-wrap--04 {
        background: #fff;
        position: relative;
    }
    // product__image-wrap--04
    .product__image-wrap--04 {
        position: relative;
        margin-top: 14.0rem;
        text-align: center;

        @include mq(sp) {
            margin-top: spSize(138);
        }
    }

    .product__image--04_1 {
        img {
            width: 100%;
            max-width: 50rem;
        }

        @include mq(sp) {

            img {
                max-width: spSize(640);
            }
        }
    }

    .product__image--04_2 {
        margin-top: 2.5rem;

        img {
            width: 100%;
            max-width: 50rem;
        }

        @include mq(sp) {
            margin-top: spSize(40);

            img {
                max-width: 100%;
            }
        }
    }

    .product__credit--04 {
        margin-top: 2.9rem;

        a {
            margin-right: 0.6rem;

            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(38);

            a {
                margin-right: spSize(14);
    
                &:nth-child(3),
                &:nth-child(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--05
    .product__image-wrap--05 {
        position: relative;
        margin-top: 13.4rem;
        height: 86.5rem;

        @include mq(sp) {
            margin-top: spSize(139);
            height: auto;
        }
    }

    .product__image--05_1 {
        position: absolute;
        top: 0;
        left: 20rem;

        img {
            width: 100%;
            max-width: 52rem;
        }

        @include mq(sp) {
            position: static;

            img {
                max-width: 100%;
            }
        }
    }

    .product__image--05_2 {
        position: absolute;
        bottom: 0;
        right: 24rem;

        img {
            width: 100%;
            max-width: 40rem;
        }

        @include mq(sp) {
            position: static;
            margin-top: spSize(45);

            & > a {
                margin-left: 0;
            }

            img {
                max-width: spSize(640);
            }
        }
    }

    .product__credit--05 {
        position: absolute;
        top: 67.8rem;
        left: 20rem;

        a {
            margin-right: 0.6rem;

            &:nth-child(3),
            &:nth-child(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            position: static;
            margin-top: spSize(39);
            padding-left: spSize(50);

            a {
                margin-right: spSize(14);

                &:nth-child(3),
                &:nth-child(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--06
    .product__image-wrap--06 {
        position: relative;
        text-align: center;
    }

    .product__image--06_1 {
        position: relative;
        z-index: 2;
        img {
            width: 100%;
            max-width: 46rem;
        }

        @include mq(sp) {
            img {
                max-width: spSize(640);
            }
        }
    }

    .product__image--06_2 {
        position: relative;
        z-index: 1;
        margin-top: -8.0rem;

        img {
            width: 100%;
            max-width: 68rem;
        }

        @include mq(sp) {
            margin-top: spSize(-65);

            img {
                max-width: 100%;
            }
        }
    }

    .product__image--06_3 {
        margin-top: 9.95rem;
        margin-inline: auto;
        width: 100%;
        max-width: 108.8rem;

        .movie {
            width: 100%;

            video {
                width: 100%;
                height: auto;
            }
        }

        @include mq(sp) {
            margin-top: spSize(79);

            .movie {
                width: 100%;
                max-width: spSize(630);
                margin-inline: auto;

                video {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .product__credit--06 {
        margin-top: 2.65rem;

        a {
            margin-right: 0.6rem;

            &:nth-of-type(3),
            &:nth-of-type(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(40);

            a {
                margin-right: spSize(14);

                &:nth-of-type(3),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--07
    .product__image-wrap--07 {
        position: relative;
        margin-top: 13.4rem;
        text-align: center;

        .flex-box-07 {
            width: 100%;
            max-width: 94rem;
            margin-inline: auto;
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        @include mq(sp) {
            margin-top: spSize(138);

            .flex-box-07 {
                width: 100%;
                max-width: spSize(700);
                flex-direction: column;
                gap: spSize(20);
            }
        }
    }

    .product__image--07_1 {
        img {
            width: 100%;
            max-width: 46rem;
        }

        @include mq(sp) {
            img {
                max-width: 100%;
            }
        }
    }

    .product__image--07_2 {
        position: relative;
        width: 100%;
        max-width: 46rem;

        a {
            position: relative;
        }


        @include mq(sp) {
            max-width: 100%;
        }
    }

    .product__image--07_3 {
        margin-top: 12rem;
        margin-inline: auto;
        width: 100%;
        max-width: 108.8rem;

        .movie {
            width: 100%;

            video {
                width: 100%;
                height: auto;
            }
        }

        @include mq(sp) {
            margin-top: spSize(80);
            max-width: spSize(630);
        }
    }

    .product__credit--07 {
        margin-top: 2.6rem;

        a {
            margin-right: 0.6rem;

            &:nth-of-type(3),
            &:nth-of-type(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(38);

            a {
                margin-right: spSize(14);

                &:nth-of-type(3),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--08
    .product__image-wrap--08 {
        position: relative;
        margin-top: 13.4rem;
        text-align: center;

        @include mq(sp) {
            margin-top: spSize(139);
        }
    }

    .product__image--08_1 {

        img {
            width: 100%;
            max-width: 48rem;
        }

        @include mq(sp) {
            img {
                max-width: 100%;
            }
        }
    }

    .product__credit--08 {
        margin-top: 2.9rem;

        @include mq(sp) {
            margin-top: spSize(38);
        }
    }

    // product__image-wrap--09
    .product__image-wrap--09 {
        position: relative;
        text-align: center;
    }

    .product__image--09_1 {

        img {
            width: 100%;
            max-width: 60rem;
        }

        @include mq(sp) {
            img {
                max-width: 100%;
            }
        }
    }

    .product__image--09_2 {
        margin-top: 4.4rem;
        &-wrap {
            width: 100%;
            max-width: 48rem;
            margin-right:auto;
            margin-left:auto;
        }
        
        a {
            position: relative;
        }
        
        @include mq(sp) {
            margin-top: spSize(46);
            &-wrap {
                max-width: spSize(640);
            }
        }
    }

    .product__credit--09 {
        margin-top: 2.9rem;

        a {
            margin-right: 0.6rem;

            &:nth-of-type(2),
            &:nth-of-type(4) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(39);

            a {
                margin-right: spSize(14);
    
                &:nth-of-type(2),
                &:nth-of-type(4) {
                    margin-right: 0;
                }
            }
        }
    }

    // product__image-wrap--10
    .product__image-wrap--10 {
        position: relative;
        margin-top: 13.5rem;
        height: 85rem;

        @include mq(sp) {
            margin-top: spSize(138);
            height: auto;
        }
    }

    .product__image--10_1 {
        position: absolute;
        top: 0;
        right: 20rem;

        img {
            width: 100%;
            max-width: 58rem;
        }

        @include mq(sp) {
            position: static;

            img {
                max-width: spSize(700);
            }
        }
    }

    .product__image--10_2 {
        position: absolute;
        top: 28rem;
        left: 22rem;

        img {
            width: 100%;
            max-width: 44rem;
        }

        @include mq(sp) {
            position: static;
            margin-top: spSize(45);

            & > a {
                &.visible {
                    margin-left: 0;
                }
            }

            img {
                max-width: spSize(620);
            }
        }
    }

    .product__credit--10 {
        position: absolute;
        bottom: -0.6rem;
        right: 20rem;
        text-align: right;

        @include mq(sp) {
            position: static;
            margin-top: spSize(39);
            padding-left: spSize(50);
            text-align: left;

            a {
                margin-right: spSize(13);

                &:nth-of-type(2),
                &:nth-of-type(4) {
                    margin-right: 0;
                }
            }
        }
    }


    // product__image-wrap--11
    .product__image-wrap--11 {
        position: relative;
        margin-top: 14.0rem;
        text-align: center;

        @include mq(sp) {
            margin-top: spSize(138);
        }
    }

    .product__image--11_1 {
        img {
            width: 100%;
            max-width: 50rem;
        }

        @include mq(sp) {
            img {
                max-width: spSize(680);
            }
        }
    }

    .product__image--11_2 {
        margin-top: 2.5rem;

        img {
            width: 100%;
            max-width: 50rem;
        }

        @include mq(sp) {
            margin-top: spSize(20);

            img {
                max-width: spSize(680);
            }
        }
    }

    .product__credit--11 {
        margin-top: 2.9rem;

        a {
            margin-right: 0.6rem;

            &:nth-of-type(3),
            &:nth-of-type(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(39);

            a {
                margin-right: spSize(14);
    
                &:nth-of-type(3),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

     // product__image-wrap--12
     .product__image-wrap--12 {
        position: relative;
        margin-top: 13.3rem;
        text-align: center;

        @include mq(sp) {
            margin-top: spSize(138);
        }
    }

    .product__image--12_1 {
        position: relative;
        z-index: 1;

        img {
            width: 100%;
            max-width: 64rem;
        }

        @include mq(sp) {
            img {
                max-width: 100%;
            }
        }
    }

    .product__image--12_2 {
        position: relative;
        z-index: 2;
        margin-top: -6.0rem;

        img {
            width: 100%;
            max-width: 48rem;
        }

        @include mq(sp) {
            margin-top: spSize(-65);

            img {
                max-width: spSize(640);
            }
        }
    }

    .product__credit--12 {
        margin-top: 2.75rem;

        a {
            margin-right: 0.6rem;

            &:nth-of-type(3),
            &:nth-of-type(6) {
                margin-right: 0;
            }
        }

        @include mq(sp) {
            margin-top: spSize(39);

            a {
                margin-right: spSize(14);
    
                &:nth-of-type(3),
                &:nth-of-type(6) {
                    margin-right: 0;
                }
            }
        }
    }

    // 全てのアイテムをチェック (ボタン)
    .product__button {
        margin-top: 12.4rem;
        a {
            margin-inline: auto;
            display: block;
            width: 100%;
            max-width: 38rem;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 0.7;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        @include mq(sp) {
            margin-top: spSize(169);

            a {
                max-width: spSize(675);
            }
        }
    }

    // STAFF (スタッフ)
    .staff {
        margin-top: 10.4rem;

        &__title {
            width: 5.25rem;
            margin-inline: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__member {
            margin-top: 1.1rem;
            text-align: center;

            p {
                font-size: 1.3rem;
                line-height: 2;
                letter-spacing: 0.02em;
                &:last-of-type {
                    margin-top: 2.5rem;
                }
            }
        }

        @include mq(sp) {
            margin-top: spSize(144);

            &__title {
                width: spSize(88);
            }

            &__member {
                margin-top: spSize(23);

                p {
                    font-size: spSize(23);
    
                    &:last-of-type {
                        margin-top: spSize(46);
                    }
                }
            }
        }
    }
}