@use "../global" as *;
#MO250911DENIM {
  --ratio: 1;
  --variable: calc(100vw / var(--sp-width));

  .lp-scroll-content {
    padding-bottom: vw(305);
  }
  // section01
  .sec-01 {
    padding-top: vw(102);
  }
  .sec-01__description {
    font-size: vw(25);
    line-height: calc(65 / 25);
    letter-spacing: 0.025em;
    font-feature-settings: "palt";
  }

  // section02
  .sec-02 {
    padding-top: vw(157);
  }
  .sec-02__movie {
    max-width: vw(675);
    margin-right:auto;
    margin-left:auto;
  }
  .sec-02__image-01 {
    margin-top: vw(100);
    max-width: vw(630);
    margin-left: auto;
  }
  .sec-02__content {
    margin-top: vw(19.9);
    max-width: vw(580);
    margin-right: auto;
  }
  .sec-02__text {
    padding-left: vw(40);
    margin-top: vw(50);
  }
  // section03
  .sec-03 {
    padding-top: vw(162);
  }
  .sec-03__movie {
    max-width: vw(675);
    margin-right:auto;
    margin-left:auto;
  }
  .sec-03__image-01 {
    margin-top: vw(100);
    max-width: vw(640);
    margin-right: auto;
  }
  .sec-03__content {
    margin-top: vw(20);
    max-width: vw(640);
    margin-right: auto;
  }
  .sec-03__text {
    padding-left: vw(36);
    margin-top: vw(50);
  }
  // section04
  .sec-04 {
    padding-top: vw(162);
  }
  .sec-04__movie {
    max-width: vw(675);
    margin-top: vw(99.5);
    margin-right:auto;
    margin-left:auto;
  }
  .sec-04__content {
    margin-top: vw(20);
    max-width: vw(675.2);
    margin-right: auto;
    margin-left: auto;
  }
  .sec-04__text {
    margin-top: vw(50);
    justify-content: center;
  }
  // section05
  .sec-05 {
    padding-top: vw(163);
  }
  .sec-05__movie {
    max-width: vw(675);
    margin-right:auto;
    margin-left:auto;
  }
  .sec-05__image-01 {
    margin-top: vw(100);
    max-width: vw(599);
    margin-left: auto;
  }
  .sec-05__content {
    margin-top: vw(20);
    max-width: vw(630);
    margin-right: auto;
  }
  .sec-05__text {
    padding-left: vw(40);
    margin-top: vw(50);
    max-width: vw(530);
  }
  // section06
  .sec-06 {
    padding-top: vw(162);
  }
  .sec-06__image-02 {
    max-width: vw(560);
    margin-top: vw(59);
    margin-right:auto;
    margin-left:auto;
  }
  .sec-06__content {
    margin-top: vw(100);
    max-width: vw(675);
    margin-right: auto;
    margin-left: auto;
  }
  .sec-06__text {
    margin-top: vw(48);
    text-align: center;
  }
  .sec-06__text .description {
    justify-content: center;
  }
  .sec-06__text .description:not(:first-child ) {
    margin-top: vw(25);
  }
  .sec-06__text .description:last-child {
    gap: vw(28);
  }
  // sec-footer
  .sec-footer {
    padding-top: vw(183);
  }
  .sec-footer__btn {
    max-width: vw(675);
    margin-right:auto;
    margin-left:auto;
    border: 1px solid #000;
    line-height: 1;
    font-family: $check-all-font-family;
    font-size: vw(46);
    letter-spacing: 0.01em;
    padding: vw(35) vw(32);
    text-align: center;
    text-transform: uppercase;
  }
  .sec-footer__staff {
    padding-top: vw(126);
  }
  .sec-footer__staff-head {
    font-size: vw(28);
    letter-spacing: 0.2em;
    font-family: $second-font-family;
    text-transform: uppercase;
    margin-bottom: vw(30);
  }
  .sec-footer__staff-item {
    font-size: vw(25);
    line-height: 2;
    font-family: $second-font-family;
    letter-spacing: 0.02em;
  }
}