@use "../global" as * ;

#MO250911DENIM {
  --pc-width: 1400;
  --sp-width: 750;
  --pc-artboard-width: 500;
  --sp-artboard-width: 750;
  --formula: calc(var(--variable) * var(--ratio));
  --formula_pc: calc(var(--variable) * 1);

  img,
  video {
    width: 100%;
    display: block;
  }
  a {
    transition: none;
    @include mq(md) {
      transition: opacity .3s ease;
    }
  }
  a:hover {
    opacity: 1;
    @include mq(md) {
      opacity: 0.7;
    }
  }

  .only-pc {
    display: none;
    @include mq(md) {
      display: block;
    }
  }
  .only-sp {
    @include mq(md) {
        display: none;
    }
  }
  a {
    text-decoration: none;
  }

  .js-fadeIn {
    opacity: 0 ;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
  }
  .js-fadeIn.visible {
    opacity: 1 ;
    visibility: visible;    
  }

  .text-center {
    text-align: center;
  }
  .description {
    font-size: vw(25);
    line-height: 1;
    font-family: $second-font-family;
    letter-spacing: 0.05em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: vw(25) vw(31);
  }
}
//base_laout
